<div class="collection-sort">
   
   <div class="collection-sort-title">
     Sort by
   </div>
    
   <li class="collection-sort-featured"><a href="https://tmgindustrial.com/collections/attachments?sort_by=manual" {% if collection.sort_by == 'manual' %}style="color:#EC662C;
     font-weight:600;"{% endif %}>Featured</a></li>
   <li class="collection-sort-best-selling"><a href="https://tmgindustrial.com/collections/attachments?sort_by=best-selling" {% if collection.sort_by == 'best-selling' %}style="color:#EC662C;
     font-weight:600;"{% endif %}>Best selling</a></li>
   <li class="collection-sort-price-ascending"><a href="https://tmgindustrial.com/collections/attachments?sort_by=price-ascending" {% if collection.sort_by == 'price-ascending' %}style="color:#EC662C;
     font-weight:600;"{% endif %}>Price, low to high</a></li>
   <li class="collection-sort-price-descending"><a href="https://tmgindustrial.com/collections/attachments?sort_by=price-descending" {% if collection.sort_by == 'price-descending' %}style="color:#EC662C;
     font-weight:600;"{% endif %}>Price, high to low</a></li>
   <li class="collection-sort-created-ascending"><a href="https://tmgindustrial.com/collections/attachments?sort_by=created-ascending" {% if collection.sort_by == 'created-ascending' %}style="color:#EC662C;
     font-weight:600;"{% endif %}>Date, old to new</a></li>
   <li class="collection-sort-created-descending"><a href="https://tmgindustrial.com/collections/attachments?sort_by=created-descending" {% if collection.sort_by == 'created-descending' %}style="color:#EC662C;
     font-weight:600;"{% endif %}>Date, new to old</a></li>
   
  </div>


 <style>
   
   .collection-sort{
     
     float:right;
     list-style:none;
     margin-right:0px;
     width:100px;
     text-align:left;
/*      background-color:pink; */
    
     
     
   }
   
  
   
   @media only screen and (max-width: 1029px) {
     
     .collection-sort{
     
     
     margin-right:0px;
   
     
     
   }
     

     
   }
   
   
   .collection-sort-title{
     
     font-family: 'Heebo', sans-serif;
     font-size:12px;
     font-weight:600;
     color:#000;
     line-height:12px;
     text-decoration:none;
     margin-bottom:16px;
     
     
   }
   
   .collection-sort a{
     
     font-family: 'Heebo', sans-serif;
     font-size:12px;
     color:#000;
     line-height:12px;
     text-decoration:none;
     margin-bottom:10px;
   }
   
   
   .collection-sort a:hover{
     
     color:#EC662C;
    
   }
   

   @media only screen and (max-width: 996px) {
     
     .collection-sort{
     
     
     display:none;
 
 
   }
     
     
     
   }
   
   
</style>