<style>
  
  
  * {
       box-sizing: border-box;
    }
  
  .modular-4-features-default{
    width:100%; 
    padding: 0 56px;
    margin-top:0px;
    float:left;
    
    
    
  }
  
  .modular-4-features{
    width:100%;
/*     border-bottom:1px solid black; */
    height:139px;
  }
  
 
  .modular-4-features-block{
    
    position: relative; 
    width:25%; 
    float:left;
    margin:0 auto;
    height:138px;
   
    
  }
  
  .modular-4-features-center{
    width:100%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
    z-index:2;
    padding:0 8px;
    color:#fff;
    opacity:1;
    
  }
  
/*   .modular-3-features-center:hover{
    opacity:0.64;
    transition: all 0.2s linear;
  } */
  
  .modular-4-features-image{
    width:32px;
    display:inline;
    float:left;
  }
  .modular-4-features-image img{
    width:32px;
    
  }
  
  .modular-4-features-text{
    float:left;
    text-align:left;
    display:inline;
    font-size:10px;
    line-height:18px;
    margin-left:16px;
    color:black;
    width:auto;
  }
  
  .modular-4-features-text-title{

    font-size:14px;
    line-height: 14px;
    font-weight:600;
   
  }

  
 .modular-4-features-text-link{
   
   color:#000;
    text-decoration:none;
   
 }
  
  .modular-4-features-text-link:hover{
   
   text-decoration:underline;
   
 }
  
  
  
  @media only screen and (max-width: 1260px){
    
  .modular-4-features-center{
    
  }
    
   .modular-4-features{
    width:100%;
/*     border-bottom:1px solid black; */
    height:109px;
  }
  
 
  .modular-4-features-block{
    
    position: relative; 
    width:25%; 
    float:left;
    margin:0 auto;
    height:108px;
   
    
  }
    
  .modular-4-features-image{
    width:24px;
    display:inline;
    float:left;
  }
  .modular-4-features-image img{
    width:24px;
    
  }
  
  .modular-4-features-text{
    float:left;
    text-align:left;
    display:inline;
    font-size:10px;
    line-height:12px;
    margin-left:16px;
    color:black;
    width:auto;
  }
  
  .modular-4-features-text-title{

    font-size:12px;
    line-height: 12px;
    font-weight:600;
   
  }
 
  }
  
 @media only screen and (max-width: 1065px){
   
   .modular-4-features-center{
    
  }
   

   .modular-4-features{
    width:100%;
/*     border-bottom:1px solid black; */
    height:161px;
    margin-top:24px;
  }
  
 
  .modular-4-features-block{
    
    position: relative; 
    width:50%; 
    float:left;
    margin:0 auto;
    height:64px;
   
    
  }
    
  .modular-4-features-image{
    width:32px;
    display:inline;
    float:left;
  }
  .modular-4-features-image img{
    width:32px;
    
  }
  
  .modular-4-features-text{
    float:left;
    text-align:left;
    display:inline;
    font-size:12px;
    line-height:14px;
    margin-left:16px;
    color:black;
    width:auto;
  }
  
  .modular-4-features-text-title{

    font-size:14px;
    line-height: 14px;
    font-weight:600;
   
  }

 }
  @media only screen and (max-width: 680px){
    
     .modular-4-features-center{
       
      
    
  }
   .modular-4-features{
    width:100%;
/*     border-bottom:1px solid black; */
    height:105px;
    margin-top:24px;
  }
  
 
  .modular-4-features-block{
    
    position: relative; 
    width:50%; 
    float:left;
    margin:0 auto;
    height:40px;
   
    
  }
    
  .modular-4-features-image{
    width:24px;
    display:inline;
    float:left;
  }
  .modular-4-features-image img{
    width:24px;
    
  }
  
  .modular-4-features-text{
    float:left;
    text-align:left;
    display:inline;
    font-size:10px;
    line-height:12px;
    margin-left:16px;
    color:black;
    width:auto;
  }
  
  .modular-4-features-text-title{

    font-size:12px;
    line-height: 14px;
    font-weight:600;
   
  }
   
  }
  
 @media only screen and (max-width: 600px){
   
    .modular-4-features-default{
    width:100%; 
    padding: 0 0px;
    margin-top:0px;
    float:left;
    
    
    
  }
   
  

   .modular-4-features{
    width:100%;
/*     border-bottom:1px solid black; */
    height:473px;
    margin-top:32px;
  }
  
 
  .modular-4-features-block{
    
    position: relative; 
    width:100%; 
    float:left;
    margin:0 auto;
    height:110px;
   
    
  }
    
  .modular-4-features-image{
    width:32px;
    display:block;
    float:none;
    margin:0 auto;
    margin-bottom:8px;
  }
  .modular-4-features-image img{
    width:32px;
  }
  
  .modular-4-features-text{
    float:none;
    text-align:center;
    display:block;
    font-size:12px;
    line-height:24px;
    margin-left:0px;
    margin-right:0px;
    color:black;
    width:auto;
  }
  
  .modular-4-features-text-title{

    font-size:14px;
    line-height: 14px;
    font-weight:600;
   
  }
  
 
   

   
 }
  
  
</style>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&display=swap" rel="stylesheet">



<div class="modular-4-features-default">

  
         <div class="modular-4-features"> 
          <div class="modular-4-features-block">
          
            <div class="modular-4-features-center">
             
              <div class="modular-4-features-image">
                <img src="https://cdn.shopify.com/s/files/1/0875/1216/files/contact-clock.svg?v=1614555471">
                
              </div>
              <div class="modular-4-features-text">
                  <div class="modular-4-features-text-title">
                    Customer Service Hours
                  </div>
                    Mon - Friday: 8:30 AM - 5PM PST
                  </div>
              
            </div>
          </div>
           
          <div class="modular-4-features-block"> 
            <div class="modular-4-features-center">
               <div class="modular-4-features-image">
               	<img src="https://cdn.shopify.com/s/files/1/0875/1216/files/contact-mail.svg?v=1614555471">
               </div>
               <div class="modular-4-features-text">
               	<div class="modular-4-features-text-title">
                	Contact Email
                </div>
                 <a class="modular-4-features-text-link" href="mailto:cs@tmgindustrial.com">cs@tmgindustrial.com</a>
               </div>
            </div>
           </div>
          
           
          <div class="modular-4-features-block"> 
            <div class="modular-4-features-center">
               <div class="modular-4-features-image">
               	<img src="https://cdn.shopify.com/s/files/1/0875/1216/files/contact-address.svg?v=1614555471">
               </div>
               <div class="modular-4-features-text">
               	<div class="modular-4-features-text-title">
                	Address
                </div>
                 <a class="modular-4-features-text-link" href="https://www.google.ca/maps/place/TMG+Industrial/@49.1674335,-122.9919229,17z/data=!3m1!4b1!4m5!3m4!1s0x5485df1d1921b805:0x12902b0c595d76e9!8m2!3d49.1674335!4d-122.9897342?hl=zh-CN&authuser=0">Unit 140, 6333 Graybar Rd, Richmond, BC</a>
               </div>
            </div>
           </div>
           
          <div class="modular-4-features-block">
          
            <div class="modular-4-features-center">
               <div class="modular-4-features-image">
               	<img src="https://cdn.shopify.com/s/files/1/0875/1216/files/contact-phone.svg?v=1614555471">
               </div>
               <div class="modular-4-features-text">
               	<div class="modular-4-features-text-title">
                	Call Us At
                </div>
                 <a class="modular-4-features-text-link" href="tel:+18777612819"> +1-877-761-2819</a>
               </div>
            </div>
           
           </div>
           
       </div> <!-- modular-3-features -->
            
</div> <!-- modular-3-features-default -->


{% schema %}
  {
    "name": "Contact Features",
    "settings": []
  }
{% endschema %}



{% javascript %}
{% endjavascript %}
