<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&display=swap" rel="stylesheet">



<div class="modular-4-features-default">

  
         <div class="modular-4-features"> 
           
          <a href="/pages/warranty">
          <div class="modular-4-features-block">
          
            <div class="modular-4-features-center">
             
              <div class="modular-4-features-image">
                <img src="https://cdn.shopify.com/s/files/1/0094/1277/1895/files/Warranty.svg?v=1609630303">
                
              </div>
              <div class="modular-4-features-text">
                  <div class="modular-4-features-text-title">
                    Warranty
                  </div>
                    All products have a 1-year warranty
                  </div>
              
            </div>
          </div>
           </a>
           
           <a href="/pages/shipping-info">
          <div class="modular-4-features-block"> 
            <div class="modular-4-features-center">
               <div class="modular-4-features-image">
               	<img src="https://cdn.shopify.com/s/files/1/0094/1277/1895/files/Free_Shipping.svg?v=1609630303">
               </div>
               <div class="modular-4-features-text">
               	<div class="modular-4-features-text-title">
                	Free Shipping
                </div>
                    Free shipping within Canada
               </div>
            </div>
           </div>
           </a>
          
          <a href="/pages/customer-service"> 
          <div class="modular-4-features-block"> 
            <div class="modular-4-features-center">
               <div class="modular-4-features-image">
               	<img src="https://cdn.shopify.com/s/files/1/0094/1277/1895/files/Customer_Service.svg?v=1609630303">
               </div>
               <div class="modular-4-features-text">
               	<div class="modular-4-features-text-title">
                	Customer Service
                </div>
                    We are here for you
               </div>
            </div>
           </div>
           </a>
           
           <a href="/pages/customer-service">
          <div class="modular-4-features-block">
          
            <div class="modular-4-features-center">
               <div class="modular-4-features-image">
               	<img src="https://cdn.shopify.com/s/files/1/0557/4177/6041/files/parts.svg?v=1616974616">
               </div>
               <div class="modular-4-features-text">
               	<div class="modular-4-features-text-title">
                	Parts Available
                </div>
                    We support our products
               </div>
            </div>
           
           </div>
           </a>
           
       </div> <!-- modular-3-features -->
            
</div> <!-- modular-3-features-default -->


<style>
  
  
  * {
       box-sizing: border-box;
    }
  
  .modular-4-features-default{
    width:100%; 
    padding: 0 56px;
    margin-top:0px;
    float:left;
    
    
    
  }
  
  .modular-4-features{
    width:100%;
/*     border-bottom:1px solid black; */
    height:139px;
  }
  
 
  .modular-4-features-block{
    
    position: relative; 
    width:25%; 
    float:left;
    margin:0 auto;
    height:138px;
   
    
  }
  
  a .modular-4-features-block:hover {
    
    opacity:0.64;
    
  }
  
  .modular-4-features-center{
    width:100%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
    z-index:2;
    padding:0 8px;
    color:#fff;
    opacity:1;
    
  }
  
/*   .modular-3-features-center:hover{
    opacity:0.64;
    transition: all 0.2s linear;
  } */
  
  .modular-4-features-image{
    width:32px;
    display:inline;
    float:left;
  }
  .modular-4-features-image img{
    width:32px;
    
  }
  
  .modular-4-features-text{
    float:left;
    text-align:left;
    display:inline;
    font-size:10px;
    line-height:18px;
    margin-left:16px;
    color:black;
    width:auto;
  }
  
  .modular-4-features-text-title{

    font-size:14px;
    line-height: 14px;
    font-weight:600;
   
  }
 
  
  
  
  @media only screen and (max-width: 1260px){
    
  .modular-4-features-center{
    
  }
    
   .modular-4-features{
    width:100%;
/*     border-bottom:1px solid black; */
    height:109px;
  }
  
 
  .modular-4-features-block{
    
    position: relative; 
    width:25%; 
    float:left;
    margin:0 auto;
    height:108px;
   
    
  }
    
  .modular-4-features-image{
    width:24px;
    display:inline;
    float:left;
  }
  .modular-4-features-image img{
    width:24px;
    
  }
  
  .modular-4-features-text{
    float:left;
    text-align:left;
    display:inline;
    font-size:10px;
    line-height:12px;
    margin-left:16px;
    color:black;
    width:auto;
  }
  
  .modular-4-features-text-title{

    font-size:12px;
    line-height: 12px;
    font-weight:600;
   
  }
 
  }
  
 @media only screen and (max-width: 1065px){
   
   .modular-4-features-center{
    
  }
   

   .modular-4-features{
    width:100%;
/*     border-bottom:1px solid black; */
    height:161px;
    margin-top:24px;
  }
  
 
  .modular-4-features-block{
    
    position: relative; 
    width:50%; 
    float:left;
    margin:0 auto;
    height:64px;
   
    
  }
    
  .modular-4-features-image{
    width:32px;
    display:inline;
    float:left;
  }
  .modular-4-features-image img{
    width:32px;
    
  }
  
  .modular-4-features-text{
    float:left;
    text-align:left;
    display:inline;
    font-size:12px;
    line-height:14px;
    margin-left:16px;
    color:black;
    width:auto;
  }
  
  .modular-4-features-text-title{

    font-size:14px;
    line-height: 14px;
    font-weight:600;
   
  }

 }
  @media only screen and (max-width: 680px){
    
     .modular-4-features-center{
       
      
    
  }
   .modular-4-features{
    width:100%;
/*     border-bottom:1px solid black; */
    height:105px;
    margin-top:24px;
  }
  
 
  .modular-4-features-block{
    
    position: relative; 
    width:50%; 
    float:left;
    margin:0 auto;
    height:40px;
   
    
  }
    
  .modular-4-features-image{
    width:24px;
    display:inline;
    float:left;
  }
  .modular-4-features-image img{
    width:24px;
    
  }
  
  .modular-4-features-text{
    float:left;
    text-align:left;
    display:inline;
    font-size:10px;
    line-height:12px;
    margin-left:16px;
    color:black;
    width:auto;
  }
  
  .modular-4-features-text-title{

    font-size:12px;
    line-height: 14px;
    font-weight:600;
   
  }
   
  }
  
 @media only screen and (max-width: 600px){
   
    .modular-4-features-default{
    width:100%; 
    padding: 0 0px;
    margin-top:0px;
    float:left;
    
    
    
  }
   
  

   .modular-4-features{
    width:100%;
/*     border-bottom:1px solid black; */
    height:473px;
    margin-top:32px;
  }
  
 
  .modular-4-features-block{
    
    position: relative; 
    width:100%; 
    float:left;
    margin:0 auto;
    height:110px;
   
    
  }
    
  .modular-4-features-image{
    width:32px;
    display:block;
    float:none;
    margin:0 auto;
    margin-bottom:8px;
  }
  .modular-4-features-image img{
    width:32px;
    
  }
  
  .modular-4-features-text{
    float:none;
    text-align:center;
    display:block;
    font-size:12px;
    line-height:24px;
    margin-left:0px;
    margin-right:0px;
    color:black;
    width:auto;
  }
  
  .modular-4-features-text-title{

    font-size:14px;
    line-height: 14px;
    font-weight:600;
   
  }
  
 
   

   
 }
  
  
</style>









  {% schema %}
  {
    "name": "Key Features",
    "settings": [
     
	
    
],
    "presets": [
    {
      "category": "Image",
      "name": "Key Features"
    }
  ]
    
  }
{% endschema %}