<div style="width:100%; padding:32px 0; margin:0 auto;float:left;">
<div data-pf-type="GMap" class="sc-pZQux hUtuZY pf-8ec500e4">
  <iframe scrolling="no" title="google_map" src="https://maps.google.com/maps?z=5&t=m&q=6333 Graybar Rd, Richmond, BC&ie=UTF8&&output=embed" style="height: 100%; width: 100%; border: none; position: absolute; left: 0px;">
  </iframe>
</div>
</div>

{% schema %}
  {
    "name": "Map",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
