{{ 'static-cart.css' | asset_url | stylesheet_tag }}
<link rel="preconnect" href="https://fonts.gstatic.com"> 
<link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&display=swap" rel="stylesheet">
{% if template contains 'cart' %}

<div>
  <div class="customer-footer">
    <div class="customer-center">
    <div class="cart-icon">
    <img src="https://cdn.shopify.com/s/files/1/0875/1216/files/customer-service.svg?v=1638086618">
    </div>
    <h3 class="customer-footer-h3">
    STILL HAVE QUESTIONS?
    </h3>
    <h2 class="customer-footer-h2">
    WE’RE HERE TO HELP
     </h2>
    </div>
    
    <div class="customer-2-center">
      
      <div>
      <h4 class="customer-footer-h4">
        <a href="tel:+18664392921">1-866-439-2921</a>
      </h4>
      </div>
      
      <div>
      <h4 class="customer-footer-h4">
        <a href="mailto:cs@tmgindustrial.com">cs@tmgindustrial.com</a>
      </h4>
      </div>
      
    </div>
    
  </div>
  
   <div class="customer-footer">
    <div class="customer-center">
    <h2 class="customer-footer-h2" style="color:white;">
          WHY CHOOSE
      <img src="https://cdn.shopify.com/s/files/1/0875/1216/files/tmg-new-logo-header_3f3c86d7-e9c3-4a77-8ea9-ea244d87d6f0.svg?v=1638131431">
    </h2>
    
    </div>
    
    <div class="customer-4-center">
      
      <div class="customer-4-center-block">
      <div class="cart-icon">
      <img src="https://cdn.shopify.com/s/files/1/0875/1216/files/shopping-cart-page-icons-01-inverse.svg?v=1638136359">
      </div>
      <h5 class="customer-footer-h5">
        SECURE ONLINE <br>CHECKOUT
      </h5>
      </div>
      
      
      <div class="customer-4-center-block">
      <div class="cart-icon">
      <img src="https://cdn.shopify.com/s/files/1/0875/1216/files/shopping-cart-page-icons-02-inverse.svg?v=1638136359">
      </div>
      <h5 class="customer-footer-h5">
        FREE SHIPPING <br>IN CANADA
      </h5>
      </div>
      
      
      <div class="customer-4-center-block">
      <div class="cart-icon">
      <img src="https://cdn.shopify.com/s/files/1/0875/1216/files/shopping-cart-page-icons-03-inverse.svg?v=1638136359">
      </div>
      <h5 class="customer-footer-h5">
        <br>SUPERIOR <br>CUSTOMER <br>SUPPORT
      </h5>
      </div>
      
      <div class="customer-4-center-block">
      <div class="cart-icon">
      <img src="https://cdn.shopify.com/s/files/1/0875/1216/files/shopping-cart-page-icons-04-inverse.svg?v=1638136359">
      </div>
      <h5 class="customer-footer-h5">
        PARTS <br>AVAILABILITY
      </h5>
      </div>
      
      
      
      
    </div>
     
    <div class="customer-center">
      
       <cta-skewX>
         <a href="/pages/warranty">
         <span>
         LEARN MORE
         </span>
         </a>
      </cta-skewX>
     
    </div>
    
  </div>
  
  </div>


{% endif %}






<div class="footer-updated-default">

  <div class="footer-updated footer-updated-desktop footer-updated-logo">
    <img src="https://cdn.shopify.com/s/files/1/0557/4177/6041/files/logo_white_full.svg?v=1616968198">
    <div class="footer-updated-sub">
      Founded in 2007, TMG Industrial <br>
      has become a trusted name in <br>
      the automotive, agricultural, and <br>
      industrial sectors. <br>
    </div>
  </div>
  
  <div class="footer-updated footer-updated-desktop footer-updated-help">
    <div class="footer-updated-title">
      Need Help?
    </div>
    <div class="footer-updated-sub-title footer-updated-desktop">
      <a href="/pages/contact">Contact Us</a>
    </div>
    <div class="footer-updated-sub-title footer-updated-desktop">
      <a href="/pages/warranty">Warranty</a>
    </div>
    <div class="footer-updated-sub-title footer-updated-desktop">
      <a href="/pages/shipping-info">Shipping Info</a>
    </div>
    <div class="footer-updated-sub-title footer-updated-desktop">
      <a href="/pages/order">Order Status</a>
    </div>
    <div class="footer-updated-sub-title footer-updated-desktop">
      <a href="/pages/customer-service">Customer Service</a>
    </div>
    <div class="footer-updated-sub-title footer-updated-desktop">
      <a href="/pages/q-a">Q&A</a>
    </div>
<!--     <div class="footer-updated-sub-title footer-updated-desktop">
      <a href="/pages/paybright">PayBright</a>
    </div> -->
    <div class="footer-updated-sub-group">
    <div class="footer-updated-sub">
      Email: <a href="mailto:cs@tmgindustrial.com">cs@tmgindustrial.com</a>
    </div>
    <div class="footer-updated-sub">
      Phone: 1-877-761-2819
    </div>
    <div class="footer-updated-sub">
      Based in Vancouver, Canada <br>
      we are available from 9-5 PST.
    </div>
    </div>
  </div>
  
  <div class="footer-updated footer-updated-desktop">
    <div class="footer-updated-title">
      Join Us
    </div>
    
    <div class="footer-updated-sub-title">
      <a href="/blogs/news">News</a>
    </div>
    
    <div class="footer-updated-sub-title">
      <a href="/pages/dealer">Become a Dealer</a>
    </div>
    
     <div class="footer-updated-sub-title">
      <a href="/pages/affiliate">Affiliate</a>
    </div>
    
     <div class="footer-updated-sub-title">
      <a href="/pages/store-locator">Dealers & Installers</a>
    </div>
    
    <div class="footer-updated-sub-title">
      <a href="/pages/career">Careers</a>
    </div>
    
    <div class="footer-updated-sub-title">
      <a href="/pages/customer-gallery">Product Gallery</a>
    </div>
    
    
<!--     <div class="footer-updated-sub-title">
      <a href="/pages/affiliate"> Affiliate Program</a>
    </div> -->
    
  </div>
  

  
  <div class="footer-updated-right">
    <div class="footer-updated-title">
      Subscribe
    </div>
    <div class="footer-updated-sub-title">
      Join our mailing list for updates on new 
products and deals!
    </div>
    
    <div class="klaviyo-form-VxLeeT"></div>
    
    
<!--     {% include 'newsletter' %} -->
<!--     <div class="footer-updated-sub-title">
      <form action="/search" method="get" role="search">
	    <input type="search" placeholder="Email Address" name="q" value="{{ search.terms | escape }}" style="box-shadow:none;">
      </form>
      
      
      <a href="#">
      <div class="footer-updated-cta">
        SIGN UP
      </div>
      </a>
    </div>
     -->
    
    
    
    <div class="footer-updated-social-icons">
      <a href="https://www.facebook.com/TMG-Industrial-100715701813609">
        <img src="https://cdn.shopify.com/s/files/1/0094/1277/1895/files/facebook.svg?v=1609664436">
      </a>
      <a href="https://www.instagram.com/tmg_industrial/">
      	<img src="https://cdn.shopify.com/s/files/1/0094/1277/1895/files/instagram.svg?v=1609664436">
      </a>
      <a href="https://www.youtube.com/channel/UCxE3ATMoFe2QuZlT33InuWw">
      	<img src="https://cdn.shopify.com/s/files/1/0875/1216/files/youtube.svg?v=1614152109">
      </a>
<!--       <a href="https://twitter.com/tmgindustrial">
      	<img src="https://cdn.shopify.com/s/files/1/0094/1277/1895/files/twitter.svg?v=1609664436">
      </a> -->
    </div>
 
  </div>
  
  
  <div class="footer-updated-copyright">
    
    
    <li style="color:#fff;">Copyright © 2021 TMG Industrial.</li>
    <li><a href="/pages/privacy-policy">Privacy Policy</a></li>
    <li><a href="/pages/terms-conditions">Terms & Conditions</a></li>
  </div>
  
  
</div>

<style>
  
  .footer-updated-default{
   
    width:100%; 
    background-color:black;
    height:468px;
    float:left; 
    padding:0 0px;
    padding-top:48px; 
    padding-bottom:16px;
    
    
  }
  
  .footer-updated{
    
    display:inline-block;
    float:left;
    padding:0 32px;
    
    
  }
  
  .footer-updated{
    color:white;
  }
  
  .footer-updated a{
    color:white;
    text-decoration:none;
  }
  .footer-updated a:hover{
    opacity:0.48;
  }
  
  .footer-updated img{
    
    height:24px;
    margin-bottom:32px;
    
  }
  
  .footer-updated-title{
    
    font-family: 'Heebo', sans-serif;
    font-size: 24px;
    line-height:32px;
    font-weight:600;
    color:white;
    margin-bottom:24px;
    
  }
  
  .footer-updated-sub{
    
    font-family: 'Heebo', sans-serif;
    font-size: 12px;
    line-height:18px;
    font-weight:400;
    color:white;
    
  }
  
  .footer-updated-sub-group{
    
    margin-top:24px;
    
  }
  
  .footer-updated-sub-title{
    
    font-family: 'Heebo', sans-serif;
    font-size: 12px;
    line-height:18px;
    font-weight:500;
    color:white;
    
  }
  
  
  .footer-updated-sub-title form{
    
    
    color:white;
    
  }
  
  .footer-updated-right{
    float:right;
     padding:0 36px;
  }
  
  
  .footer-updated-right > .footer-updated-sub-title{
    margin-bottom:24px;
    width:240px;
  }
  
  .footer-updated-sub-title input{
    
    font-family: 'Heebo', sans-serif;
    background-color:transparent;
    border:none;
    border-bottom: 1px solid white;
    width:240px;
    color:white;
    border-radius: 0;
    
  }

   .footer-updated-sub-title input[type="search"] {
    -webkit-appearance: none;
  }
  
  
  .footer-updated-sub-title a .footer-updated-cta{
    
    outline:none;
    outline:0;
    
  }
  
  .footer-updated-social-icons a{
    
    outline:none;
    outline:0;
    
  }
  .footer-updated-social-icons a:focus{
    
    outline:none;
    outline:0;
    
  }
  
  .footer-updated-sub-title input:focus{
    
    outline:none;
    
  }

  .footer-updated-sub-title input::placeholder{
		
    font-size: 12px;
    line-height:18px;
    font-weight:500;
    color:white;
    
	}	
  
  .footer-updated-cta{
    
    color:white;
    font-size: 12px;
    line-height:18px;
    font-weight:500;
    border-radius:24px;
    border:1px solid white;
    width:120px;
    padding: 11px 36px;
    margin-top:24px;
    
  }
 
  .footer-updated-cta:hover{
    
    color:black;
    background-color:white;
    border:1px solid black;
   
  }
  
   a:hover{
    
    text-decoration:none;
   
  }
  
  .footer-updated-copyright{
    
    font-family: 'Heebo', sans-serif;
    font-size: 12px;
    line-height:18px;
    font-weight:400;
    color:white;
    display:block;
    width:100%;
    text-align:left;
    float:left;
    margin-top:108px;
    padding-left:32px;
    
  }
  
  .footer-updated-copyright li{
    
    float:left; 
    margin-right:32px;
    list-style:none;
    
    
  }
  
  .footer-updated-copyright li a{
    
    text-decoration:none;
    color:white;
   
    
  }
  
   .footer-updated-copyright li a:hover{
    
    cursor:pointer;
    text-decoration:underline;
  }
  
  .footer-updated-social-icons a{
   text-decoration: none;
    outline: none;
  }
  
  .footer-updated-social-icons img{
    width:24px;
    margin-right:24px;
  }
  
   .footer-updated-social-icons img:hover{
    opacity:0.48;
  }
  
  /* responsive web - ipad pro */
    
     @media only screen and (max-width: 1029px){
       
       .footer-updated-default{
   
   }
  
  .footer-updated{
    
  
    padding:0 16px;
    
    
  }
          
       
     }
  
   /* responsive web - 996 */
  @media only screen and (max-width: 996px){
    .footer-updated-default{
   
    width:100%; 
    background-color:black;
    height:452px;
    float:left; 
    padding:0px;
    padding-top:48px; 
    padding-bottom:16px;
    
    
  }
   
   
    .footer-updated{
    
    display:inline-block;
    float:left;
    padding:0 16px;
    
    
  }
    
    .footer-updated-right{
    float:right;
    padding:0 16px;
  }
   
   
   .footer-updated-sub-title form{
    
    
    color:white;
    
  }
   
   .footer-updated-right > .footer-updated-sub-title{
    margin-bottom:24px;
     width:200px;
    
  }
   
   .footer-updated-sub-title input{
    font-family: 'Heebo', sans-serif;
    background-color:transparent;
    border:none;
    border-bottom: 1px solid white;
    width:200px;
    color:white;
    
  }

    .footer-updated-copyright{
    
  
    padding-left:16px;
    
  }

  

     }
  
    /* responsive web - ipad */
 @media only screen and (max-width: 768px){
   
   .footer-updated-default{
   
    width:100%; 
    background-color:black;
    height:424px;
    float:left; 
    padding:0px;
    padding-top:48px; 
    padding-bottom:16px;
    
    
  }
   
   
    .footer-updated{
    
    display:inline-block;
    float:left;
    padding:0 16px;
    
    
  }
   
   
   .footer-updated-desktop{
     display:none;
   }
   
   .footer-updated-logo{
     
     display:block;
     
   }
   
   .footer-updated-help{
     display:block;
   }
   
     .footer-updated-right{
       
    float:right;
    padding:0 16px;
  }
   
   
  .footer-updated-right > .footer-updated-sub-title{
    margin-bottom:24px;
    width:160px;
    
  }
   
    .footer-updated-sub-title input{
    font-family: 'Heebo', sans-serif;
    background-color:transparent;
    border:none;
    border-bottom: 1px solid white;
    width:160px;
    color:white;
    
  }
   
   .footer-updated-social-icons img{
    width:20px;
    margin-right:20px;
  }
   
   .footer-updated-copyright{
    
    font-family: 'Heebo', sans-serif;
    font-size: 12px;
    line-height:18px;
    font-weight:400;
    color:white;
    display:block;
    width:100%;
    text-align:left;
    float:left;
    margin-top:64px;
    padding-left:16px;
    
  }
   
   
   }
  
  
  /* responsive web - mobile */
   @media only screen and (max-width:720px){
     
      .footer-updated-desktop{
     display:none;
   }
     .footer-updated-default{
   
    width:100%; 
    background-color:black;
    height:440px;
    float:left; 
    text-align:center;
    margin:0 auto;
    padding:0 32px;
    padding-top:48px; 
    padding-bottom:16px;
    
    
  }
   
     
  .footer-updated-right{
       
    float:none;
    text-align:center;
    margin:0 auto;
    
  }
   
   
  .footer-updated-right > .footer-updated-sub-title{
    margin-bottom:24px;
    width:auto;
    
  }
   
    .footer-updated-sub-title input{
    font-family: 'Heebo', sans-serif;
    background-color:transparent;
    border:none;
    border-bottom: 1px solid white;
    width:240px;
    color:white;
    margin:0 auto;
    
  }
   
     .footer-updated-cta{
    
    color:white;
    font-size: 12px;
    line-height:18px;
    font-weight:500;
    border-radius:24px;
    border:1px solid white;
    width:120px;
    padding: 0 36px;
    padding-top:13px;
    height:44px;
    text-align:center;
    margin:0 auto;
    margin-top:24px;
    
  }
     
   .footer-updated-social-icons{
     
     text-align:center;
     margin:0 auto;
   }
     
   .footer-updated-social-icons img{
    width:24px;
    margin-right:0px;
    margin: 0 16px;
  }
   
    .footer-updated-copyright{
    
    font-family: 'Heebo', sans-serif;
    font-size: 12px;
    line-height:18px;
    font-weight:400;
    color:white;
    display:block;
    width:100%;
    text-align:center;
    float:none;
    margin:0 auto;
    margin-top:64px;
    padding-left:0px;
    
  }
  
      .footer-updated-copyright li{
    
    float:none; 
    margin-right:auto;
     margin-left:auto;
    list-style:none;
    
    
  }
   
     
     
   }
  
  
  .klaviyo-form-VxLeeT .thank_you{
    
    display:none;
    
  }
  
  
  
  
  
</style>