<div class="margin-top-fix">
{% section 'career-top-banner' %}  
<article class="site-page article-page-width career-page-width" data-template-page>
  
{% section 'career-test' %}  
  

  
  

</article>
</div>

<style>
  
  .career-page-width{
    
    margin-top:64px;
    margin-bottom:240px;
    float:none;
    
  }
  
/*   @media screen and (max-width: 720){
      
      .career-page-width{
    
         width:80%;
      }
      
    }
  
  
    @media screen and (max-width: 600){
      
      .career-page-width{
    
         width:90%;
      }
      
    } */
  
 
  
  
</style>