<style>
  
 .affiliate-page{
   
   margin-top:32px;
 
   
 }
  

 .affiliate-section{
   
   border-bottom:1px solid black;
   padding-bottom:32px;
   
   
 }
  
  .affiliate-title{
    
    margin-top:32px;
  }
  
  .affiliate-text{
    
    font-weight:600;
    
    
  }
  .affiliate-text div{
    height:48px;
  }
  .affiliate-text img{
    
    height:48px;
    display:inline-block;
    float:left;
    
  }
  
  .affiliate-text p{
    
    
    display:inline-block;
    height:48px;
    padding:0px;
    padding-top:14px;
    padding-left:16px;
    margin:0;
    float:left;
    
  }
  
  .affiliate-benefit{
    
    margin-top:16px;
    
    
    
  }
  
  
  
  @media only screen and (max-width: 600px){
    

    
     .affiliate-text div{
    height:48px;
  }
    
    .affiliate-text img{
    
    height:48px;
    display:inline-block;
    float:left;
    
  }
    .affiliate-text p{
    
    
    display:inline-block;
    font-size:14px;
    line-height:16px;
    height:48px;
    padding:0px;
    padding-top:10px;
    padding-left:16px;
    margin:0;
    float:left;
    width:80%;
    
  }
    
 
    
  }
  
    @media only screen and (max-width: 415px){
    
       
    .affiliate-benefit-one-line p{
      padding-top:16px;
      
    }
    
  }
</style>
<div class="margin-top-fix">
<div class="service-top-banner">
{% section 'dealer-top-banner' %}  
</div>

<article class="site-page article-page-width affiliate-page" data-template-page>
  
  <section class="affiliate-section">
  <div class="article-page-title" >The TMG Industrial Dealer Program</div>
  <div class="article-page-text" >
    The TMG Industrial dealer program is ideal for both existing automotive, agricultural, 
    and industrial dealers looking to expand their offerings and new dealers in need of a 
    cornerstone brand to build their business on. When you become a TMG Industrial dealer, 
    you gain access to hundreds of products, dedicated customer service, and a private dealer 
    portal with pricing, availability, and easy online ordering.


  </div>
  </section>
  <section class="affiliate-section">
  <div class="article-page-title affiliate-title" >Why become a TMG Industrial Dealer?</div>
  <div class="article-page-text" >
    Founded in 2007, TMG Industrial has become a trusted name in the automotive, agricultural, 
    and industrial sectors. We produce and sell quality products backed by strong customer 
    service and reliable availability of parts. We have a rapidly growing line of high value 
    recession proof products.
  </div>
    
  <div class="article-page-text affiliate-text" >
    <div class="affiliate-benefit affiliate-benefit-one-line">
      <img src="https://cdn.shopify.com/s/files/1/0875/1216/files/dealer-value.svg?v=1617251888">
      <p>Hundreds of high value products</p>
    </div>
    <div class="affiliate-benefit ">
      <img src="https://cdn.shopify.com/s/files/1/0875/1216/files/dealer-recognition.svg?v=1617251889">
      <p>Brand recognition across North America</p>
    </div>
    <div class="affiliate-benefit">
      <img src="https://cdn.shopify.com/s/files/1/0875/1216/files/dealer-rating.svg?v=1617251888">
      <p>A 94% customer service satisfaction rating</p>
    </div>
    <div class="affiliate-benefit">
      <img src="https://cdn.shopify.com/s/files/1/0875/1216/files/dealer-access.svg?v=1617251888">
      <p>Access to our dedicated dealer portal</p>
    </div>
    
  </div>
  </section>
  <section class="affiliate-section">
  <div class="article-page-title affiliate-title" >How it works?</div>
  <div class="article-page-text" >
    Once you apply your application will be reviewed and a TMG Industrial dealer 
    representative will contact you to regarding the status of your application. 
 

  </div>
  </section>
  <section class="">
  <div class="article-page-title affiliate-title" >Apply today</div>
  <div class="article-page-text" style="margin-bottom:32px;">
    Click the button below to enter our dealer application form.  

  </div>
  </section>
 
  
{% section 'dealer-cta' %}
  
  
</article>
</div>