<div class="margin-top-fix">
{% section 'customer-gallery-banner' %}
<article class="customer-gallery-page" data-template-page>

  
 
  
  {% section 'customer-gallery' %}

</article>

<div class="customer-gallery-contact">
  <div style="margin-bottom:32px;"> Need help? Please contact us now!</div>
  {% section 'customer-gallery-contact' %}
</div>
</div>

<style>
  
  .customer-gallery-page{
    width:100%; 
    padding:0 56px;
    margin-top:32px;
    float:left;
    
  }
  
 .customer-gallery-contact{
   
   width:100%;
   padding-top:64px;
   padding-bottom:32px; 
   text-align:center; 
   font-family: 'Heebo', sans-serif;
   background-color:#f6f6f6;
   float:left;
   
   
   
 }
  
  
  @media only screen and (max-width: 996px){
    

    
  }
  @media only screen and (max-width: 414px){
     .customer-gallery-page{
    width:100%; 
    padding:0 8px;
    float:left;
    
  }
    
  }
  
</style>