<style>
  
 .affiliate-page{
   
   margin-top:32px;
 
   
 }
  

 .affiliate-section{
   
   border-bottom:1px solid black;
   padding-bottom:32px;
   
   
 }
  
  .affiliate-title{
    
    margin-top:32px;
  }
  
  .affiliate-text{
    
    font-weight:600;
    
    
  }
  .affiliate-text div{
    height:48px;
  }
  .affiliate-text img{
    
    height:48px;
    display:inline-block;
    float:left;
    
  }
  
  .affiliate-text p{
    
    
    display:inline-block;
    height:48px;
    padding:0px;
    padding-top:14px;
    padding-left:16px;
    margin:0;
    float:left;
    
  }
  
  .affiliate-benefit{
    
    margin-top:16px;
    
    
    
  }
  
  @media only screen and (max-width: 600px){
    

    
     .affiliate-text div{
    height:48px;
  }
    
    .affiliate-text img{
    
    height:48px;
    display:inline-block;
    float:left;
    
  }
    .affiliate-text p{
    
    
    display:inline-block;
    font-size:14px;
    line-height:16px;
    height:48px;
    padding:0px;
    padding-top:10px;
    padding-left:16px;
    margin:0;
    float:left;
    width:80%;
    
  }
    
    .affiliate-benefit-one-line p{
      padding-top:16px;
      
    }
    
    
    
  }
</style>

<div class="margin-top-fix">
<div class="service-top-banner">
{% section 'affiliate-top-banner' %}  
</div>

<article class="site-page article-page-width affiliate-page" data-template-page>
  
  <section class="affiliate-section">
  <div class="article-page-title" >What is the TMG Industrial Affiliate Program?</div>
  <div class="article-page-text" >
    The TMG Industrial affiliate program allows third parties to place links, ads, and 
    other types of visual references on their websites to direct traffic to tmgindustrial.com. 
    This partnership allows the websites to earn commissions on all sales that come through 
    their referring site. The publisher receives a payment from us based upon the total 
    sale amount.

  </div>
  </section>
  <section class="affiliate-section">
  <div class="article-page-title affiliate-title" >Why become a TMG Industrial Affiliate?</div>
  <div class="article-page-text" >
    Founded in 2007, TMG Industrial has become a trusted name in the automotive, agricultural, 
    and industrial sectors. We produce and sell quality products backed by strong customer 
    service and reliable availability of parts. We have a well-established e-commerce presence 
    and a rapidly growing line of high value recession proof products.


  </div>
  <div class="article-page-text affiliate-text" >
    <div class="affiliate-benefit ">
      <img src="https://cdn.shopify.com/s/files/1/0875/1216/files/affiliate-cookie.svg?v=1615964489">
      <p>30-day cookie for optimized commission attribution</p>
    </div>
    <div class="affiliate-benefit affiliate-benefit-one-line">
      <img src="https://cdn.shopify.com/s/files/1/0875/1216/files/affiliate-money.svg?v=1615964489">
      <p>Average order value above $3000</p>
    </div>
    <div class="affiliate-benefit">
      <img src="https://cdn.shopify.com/s/files/1/0875/1216/files/affiliate-earth.svg?v=1615964490">
      <p>TMG Industrial international brand recognition</p>
    </div>
    <div class="affiliate-benefit">
      <img src="https://cdn.shopify.com/s/files/1/0875/1216/files/affiliate-shipping.svg?v=1615964490">
      <p>Free shipping in the USA and Canada*</p>
    </div>
    <div class="affiliate-benefit">
      <img src="https://cdn.shopify.com/s/files/1/0875/1216/files/affiliate-box.svg?v=1615964489">
      <p>More than 200 SKUs with hundreds more on the way</p>
    </div>
  </div>
  </section>
  <section class="affiliate-section">
  <div class="article-page-title affiliate-title" >How it works?</div>
  <div class="article-page-text" >
    Once you apply and are accepted into the TMG Industrial affiliate program, you will 
    gain access to an assortment of marketing assets including banners, text links, 
    and more that will allow you to promote our full catalog. By placing these trackable 
    marketing assets on your website, social media, or e-mail campaign you will earn 
    commissions for qualifying purchases made by anyone who clicked your link. 

  </div>
  </section>
  <section class="">
  <div class="article-page-title affiliate-title" >Become an Affiliate.</div>
  <div class="article-page-text" style="margin-bottom:32px;">
    To become an affiliate, click the link below, register on the Refersion website. Your application will be reviewed within two business days.  

  </div>
  </section>
<!--  <script type="text/javascript" src="//cdn.refersion.com/iframe.js"></script>
<div id="refersion-iframe-goes-here" data-frame-url="https://tmgindustrial.refersion.com/affiliate/registration?oid=89243"></div> -->
  
{% section 'affiliate-cta' %}
  
  
</article>

</div>