<div class="margin-top-fix">
<div class="service-top-banner">
  <div class="page-full-width-image">
  

  <img src="https://cdn.shopify.com/s/files/1/0875/1216/files/paybright-banner-v2.jpg?v=1623309279" class="modular-full-width-image-desktop">
  
  <img src="https://cdn.shopify.com/s/files/1/0875/1216/files/paybright-banner-mobile.jpg?v=1623310692" class="modular-full-width-image-mobile">
 
 
</div>
  
  
  
</div>
<article class="site-page article-page-width paybright-page" data-template-page>

  
  <div class="article-page-subtitle" >
    WHO IS PAYBRIGHT?

  </div>
  <div class="article-page-text" >
   PayBright is Canada’s leading installment payment platform, providing shoppers with buy now, 
   pay later solutions at their favourite retailers, both in-store and online.<br><br>
   By selecting PayBright as a payment method at check-out, customers can enjoy their purchases 
   immediately, while spreading their payments over time. PayBright's installment plans range 
   from 4 bi-weekly payments for smaller purchases, and equal monthly payments for larger 
   purchases, with interest rates as low as 0%.


  </div>
  <div class="article-page-subtitle" >
    HOW DO I APPLY?

  </div>
  
   <div class="article-page-text" >
     PayBright’s application process is quick, short, and simple:
     <br>
     <li>
       At checkout, simply select PayBright as a payment option.

     </li>
     <li>
       Then, choose from a list of all eligible plans for your purchase. Select the plan that works for you. 

     </li>
     <li>
       On the next page, apply for the plan you choose, and find out instantly if you are approved.

     </li> 
   
  </div>
  <div class="article-page-subtitle" >
    WHAT IS THE ANNUAL PERCENTAGE RATE?
 
  </div>
  <div class="article-page-text" >
   PayBright offers 0% APR financing plans for eligible TMG Industrial purchases. 
   The Annual Percentage Rate (APR) for standard, non-promotional purchases using PayBright is 19.99%.
   <br><br>
   For more information, please view PayBrights 
    <a href="https://paybright.com/en/terms-conditions/">Terms & Conditions.</a>

  </div>
  
   <div class="article-page-subtitle" >
    IS THERE AN ANNUAL FEE?  
  </div>
  <div class="article-page-text" >
    There is NO annual fee when you use PayBright.

  </div>
  
  <div class="article-page-subtitle" >
   HOW DOES FINANCING WITH PAYBRIGHT WORK? 
  </div>
   <div class="article-page-text" >
     Financing with PayBright only takes a few steps:
     <br>
     <li>
       Add items to your cart as you normally would.

     </li>
     <li>
       Select PayBright as your payment method in checkout.
     </li>
     <li>
       Complete PayBright's easy online application.
     </li> 
      <li>
       Get an instant approval decision.
     </li>
      <li>
       Confirm your payment plan with PayBright.
     </li>
   
  </div>
  
  <div class="article-page-subtitle" >
    WHAT IF I HAVEN'T RECEIVED AN EMAIL WITH MY STATEMENT/PAYMENT INFORMATION OR NEED ADDITIONAL HELP WITH MY PAYMENT? 
  </div>
  <div class="article-page-text" >
    For help with payment information, or if you haven't received your statement, please contact 
    the PayBright Customer Service team via their 
    <a href="https://help.paybright.com/hc/en-us/categories/360002462274-Contact-PayBright">website</a>

  </div>
  
   <div class="article-page-subtitle" >
    CAN I PREPAY MY OUTSTANDING PAYBRIGHT BALANCE?  
  </div>
  <div class="article-page-text" >
    Yes! All PayBright payment plans can be prepaid at any time, without penalty.

  </div>
  
   <div class="article-page-subtitle" >
    I WAS NOT ABLE TO COMPLETE THE TRANSACTION. WHY?

  </div>
  <div class="article-page-text" >
   Unfortunately, PayBright is not able to provide payment plans to every applicant. 
   This could be due to the information on your credit file, or because PayBright was 
   not able to verify your identity or your payment method. For further information, 
   please contact 
   <a href="https://help.paybright.com/hc/en-us/categories/360002462274-Contact-PayBright">
    PayBright’s Customer Service team.
    </a>
  </div>
  
  <div class="article-page-subtitle" >
    IF I’M NOT HAPPY WITH MY PRODUCT, CAN I RETURN IT?

  </div>
  <div class="article-page-text" >
    For information on returns, review <a href="https://tmgindustrial.ca/pages/customer-service">TMG Industrial’s return policy</a> here. 
  
  </div>
  
   <div class="article-page-subtitle" >
   HOW DO RETURNS & REFUNDS WORK FOR PAY OVER TIME?

  </div>
  <div class="article-page-text" >
   Purchases made using PayBright financing are subject to TMG Industrial’s return policy. 
   Any returns will be processed by TMG Industrial, and your PayBright loan balance will be 
   reduced or cancelled accordingly. If you have already made monthly payments, those will 
   be refunded to you by PayBright.

  </div>
  
  
</article>
</div>
<style>
  
  .paybright-page{
    
    margin-top:32px;
    
  }
  
  .modular-full-width-image-desktop{
    display:block;
  }
  
  .modular-full-width-image-mobile{
    display:none;
  }
  
  
  .page-full-width-image{
    width:100%;
    position:relative;
    margin-top:96px;
 
  }
  
  .page-full-width-image a{
    text-decoration: none;
  }
  
  .page-full-width-image img{
    width:100%;
  }
  


  

/* responsive web - ipad pro */
    
     @media only screen and (max-width: 1024px){
       
       .page-full-width-image{
   
    margin-top:88px;
 
  }
 
       
       
     }


    @media only screen and (max-width: 858px) {
      
      .page-full-width-image{
   
    margin-top:56px;
   
      
      
    }
  

  
  @media only screen and (max-width:600px){
    
    .modular-full-width-image-desktop{
    display:none;
  }
  
  .modular-full-width-image-mobile{
    display:block;
  }
    
  
  }
</style>